@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-light: var(--foreground-light);
  --font-sans: var(--font-schibsted-grotesk);
  --font-mono: var(--font-ibm-plex-mono);
}


:root {
  --foreground: var(--color-stone-800);
  --foreground-light: var(--color-stone-500);
  --background: var(--color-stone-300);
}

body {
  
  background: var(--background);
  color: var(--foreground);
}

p {
  color: var(--foreground);
  margin-top: --spacing(8);
  font-size: var(--text-xl);
  background: var(--background);
  color: var(--foreground);
}

h1 {
  color: var(--foreground);
  font-size: var(--text-2xl);
  margin-bottom: --spacing(2);
  margin-top: --spacing(8);
}

h2 {
  color: var(--foreground);
  font-size: var(--text-xl);
  margin-bottom: --spacing(2);
  margin-top: --spacing(6);
}

a {
  @apply cursor-pointer transition-colors hover:text-amber-700 text-amber-800
}

blockquote {
  padding: --spacing(8);
  font-style: italic;
}

.highlight {
  @apply decoration-amber-800 decoration-4 underline underline-offset-4
}

dt {
  font-size: var(--text-lg)
}

section.footnotes {
  margin-top: --spacing(16);
  border-top: 1px solid var(--foreground-light);
}

#footnote-label {
  font-size: var(--text-2xl);
}

.footnotes > ol {
  font-size: var(--text-base);
  list-style-type: decimal;
  padding-left: --spacing(8);

  p {
    font-size: var(--text-base);
    margin: --spacing(0);
  }
}

.footnotes ol li::marker {
  font-size: var(--text-base);
  color: var(--color-foreground-light);
}

/* dark */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--color-stone-200);
    --foreground-light: var(--color-stone-500);
    --background: var(--color-stone-800);
  }

  a {
    @apply cursor-pointer transition-colors hover:text-amber-600 text-amber-700
  }
}






