@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-schibsted-grotesk);
  --font-mono: var(--font-ibm-plex-mono);
}

/* light */
:root {
  --foreground: var(--color-stone-700);
  --background: var(--color-stone-200);
}

body {
  background: var(--background);
  color: var(--foreground);
}

p {
  color: var(--color-stone-800);
  margin-top: --spacing(4);
  font-size: var(--text-lg);
  background: var(--background);
  color: var(--foreground);
}

h1 {
  color: var(--color-stone-500);
  font-size: var(--text-2xl);
  margin-bottom: --spacing(2);
  margin-top: --spacing(8);
}

h2 {
  color: var(--color-stone-500);
  font-size: var(--text-xl);
  margin-bottom: --spacing(2);
  margin-top: --spacing(6);
}

a {
  @apply cursor-pointer transition-colors hover:text-amber-600 text-amber-700
}

/* ~~~ */

/* dark */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--color-stone-200);
    --background: var(--color-stone-800);
  }

  body {
    background: var(--background);
    color: var(--foreground);
  }

  p {
    color: var(--color-stone-300);
    margin-top: --spacing(4);
    font-size: var(--text-lg);
    background: var(--background);
    color: var(--foreground);
  }

  h1 {
    color: var(--color-stone-500);
    font-size: var(--text-xl);
    margin-bottom: --spacing(2);
    margin-top: --spacing(8);
    
  }

  h2 {
    color: var(--color-stone-400);
    font-size: var(--text-xl);
    margin-bottom: --spacing(2);
    margin-top: --spacing(6);
  }

  a {
    @apply cursor-pointer transition-colors hover:text-amber-500 text-amber-600
  }
}
/* ~~~ */

.highlight {
  @apply decoration-amber-800 decoration-4 underline underline-offset-4
}



dt {
  font-size: var(--text-lg)
}